<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="forLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">WishList</h3>
                </div>
                <div class="card-body">
                    <app-form-destino (onItemAdded)="agregado($event)"></app-form-destino>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-lista
         *ngFor="let d of all; let i=index" 
        [destino]="d"
        (elegir)="elegido(d)"
        [posicion]="i+1"
        appEspiame
        ></app-lista>
    </div>

    <hr>
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of actualizar;">{{u}}</li>
        </ul>
    </div>
</div>
