<form [formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['imagenURL'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" 
        [formControl] = "fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of resultado;">{{r}}</li>
        </ul>
        <div *ngIf ="fg.controls['nombre'].hasError('required')" style="color: red;">Nombre Requerido</div>
        <div *ngIf ="fg.controls['nombre'].hasError('invalidNombre')">Nombre Invalido</div>
        <div *ngIf ="fg.controls['nombre'].hasError('minLongNombre')">Longitud minima{{minLongitud}}</div>
    </div>
    <div class="form-group">
        <label for="Imagen url">Descripcion</label>
        <input type="text" class="form-control" id="imagenURL" placeholder="Ingresar descripcion"
        [formControl] = "fg.controls['imagenURL']">
        <div *ngIf ="fg.controls['imagenURL'].hasError('required')" style="color: red;">Descripcion Requerida</div>
        <div *ngIf ="fg.controls['imagenURL'].hasError('invalid')">Descripcion Invalido</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>