<div class="card-content" [@esFavorito]="destino.isSeleccionado() ? 'esFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
            <img src="http://placeimg.com/380/230/nature" alt="">
            <span><h4>{{posicion}}</h4></span>
    </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios ofertados</p>
            <div>
                <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                    <i class="material-icons md-18">thumb_up</i>
                </a>
                <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                    <i class="material-icons md-18">thumb_down</i>
                </a>
                {{destino.num}}
            </div>
            <ul>
                <li *ngFor="let s of destino.servicio ">
                <span [ngSwitch]= "s">
                    <i *ngSwitchCase="'Piscina'">{{s}}:Servicio para grandes y chicos</i>
                    <i *ngSwitchCase="'Jacuzzi'">{{s}}:Servicio para grandes y chicos</i>
                    <i *ngSwitchCase="'Vehiculo'">{{s}}:Servicio para grandes</i>
                    <i *ngSwitchDefault></i>
                </span>
                </li>
            </ul>
            <br>
            <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferiso lista_destinos_item">Ir</a>
            <span [style.display]="destino.isSeleccionado() ? '' : 'none'">Preferido</span>
            <br><br>
            <a [routerLink]="['/destino']">Ver detalle</a>
        </div>
</div>