<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
             <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ingresar</h3>
                </div>
                <form action="" class="form-inline" *ngIf="!authService.getUser()">
                <div class="card-body">
                     <div class="form-group">
                        <label for="username">Username:(type <em>user</em>)</label>
                        <input type="text" class="form-control" name="username" #username>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password:(type <em>password</em>)</label>
                        <input type="password" class="form-control" name="password" #password>
                    </div>
            <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar</a>
            {{mensajeError}}
        </div>
        </form> 
            <a class="btn btn-default" (click)="logout()">Salir</a>
            </div>
        </div>
    </div>
</div>
